@charset "utf-8";
/* CSS Document */

/*微博 发表 */
.status_update .update_title {
 height:22px; line-height:22px; color:#333; text-align:left; font-size:16px;font-family:"Comic Sans MS", cursive; font-weight:bold; }
.status_update .textarea_con { margin:10px auto; text-align:center; width:100%; }
.status_update .textarea_con textarea { width:570px; border:1px solid #d0d0d0; height:60px; font-size:12px; overflow:hidden; word-wrap:break-word; color:#333; padding:5px 2px 0 5px; }
.status_update .up_option { margin:3px auto 0; width:100%; position:relative; }
.status_update .up_option a { color:#1855a2; }
.status_update .up_type {width:100%; height:27px;}
.status_update a.uploat_btn, a.uploat_btn:hover {position:absolute; right:0px; top:2px;border:medium none; display:block; width:109px; height:30px; text-indent:-9999em; }
.status_update a.uploat_btn { background:url(../images/blog_submit.png) no-repeat 0 0; }
.status_update a.uploat_btn:hover { background:url(../images/blog_submit.png) no-repeat 0 -30px; }
.publish_faces,.publish_topic,.publish_img {color:#455a6b; float:left; margin:10px 10px 0 0; }
.publist_num_tip {color:#455a6b;position:absolute; right:120px; top:1px;}
.publist_num_tip img { vertical-align:baseline; }
.publist_num_tip .char_con { /*font-family:Georgia; font-size:22px; color:#25333d;*/ }
.img_loading { color:green; }
a.upload_img_name {color:#c06; }
a.img_delete { font-size:12px; font-family:Verdana, Geneva, sans-serif; padding-right:5px;color:red; }
.publish_img .review_img { position:absolute; left:165px; top:25px;border:1px solid #666; padding:3px; z-index:300; background:#fff; }
.publish_faces .face_list { position:absolute; left:-25px; top:20px; _top:15px; padding:3px; z-index:1800; _padding:10px 3px; }
.select_img { filter:alpha(opacity=0); opacity:0; border:0 none; cursor: pointer; position:absolute; top:10px; left:110px;width:30px; height:20px; z-index:9999; }
/* 微博列表 */
